body {
    background-color:#191919;
}

.quizTxt {
  color: yellow;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 32px;
    text-align: center;
    font-family: Helvetica
}


div.answersrow{
  margin-top: 60px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.choice:hover{
  background: linear-gradient(to right, #2cb0e8, #2cb0e8, #f0edf2, #f0311f, #f0311f);
  font-weight: bold;
}

.submit{
  visibility: hidden;
  color: black;
  background-color: yellow;
  padding: 16px ;
  font-size: 24px;
  font-family: Helvetica
}
.submit:hover{
  background-color: #d69e04;
}



#answerA{
  margin-left: 50px;
  margin-right: 50px;
  padding: 16px ;
  font-size: 24px;
  font-family: Helvetica
}#answerB{
  margin-left: 50px;
  margin-right: 50px;
  padding: 16px ;
  font-size: 24px;
  font-family: Helvetica
}#answerC{
  margin-left: 50px;
  margin-right: 50px;
  padding: 16px ;
  font-size: 24px;
  font-family: Helvetica
}#answerD{
  margin-left: 50px;
  margin-right: 50px;
  padding: 16px ;
  font-size: 24px;
  font-family: Helvetica
}
